<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First</title>
</head>
<body>
    
    <h1>first.html</h1>

    <p>
        Welcome to you Digital Diary...
    </p>

    <p>
        Life moves quickly, so keep track of the things that matter.
    </p>

    <p>
        Write a diary entry each day with your most recently listened to Spotify track to match.
    </p>

    <p>
        Look back on your days, read what you wrote, and listen to these songs to remind you of the life you are living.
    </p>

    <div>
        
        <a th:href="@{/login}">Login</a>
        <br />
        <a th:href="@{/create-account}">Create an Account</a>

    </div>
    
</body>
</html>